extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Add Your Review
  .row
    .col-xs-12.col-md-6
      form(action="/songs/review/new", method="post")
        label(for="name") Name
        input#name(name="name")
        label(for="rating") Rating
        select#rating(name="rating")
          option 5
          option 4
          option 3
          option 2
          option 1
        label(for="review") Review
        textarea#review(name="review", rows="5")
        button(type="submit" ) submit